# [Window-like mode]
BACKGROUND_COLOR="#ff000000"
MUTE_COLOR="#60f0f0FF"
LINE_PAD="0"
LINE_COLOR="#20ffffff"

# [Light colors]
# BACKGROUND_COLOR="#d0eaeaea"
# MUTE_COLOR="#10808080"
# LINE_PAD="0"
# LINE_COLOR="#20323232"
# TEXT_COLOR="#FF121212"

# [Translucent mode]
# BACKGROUND_COLOR="#40000000"
# LINE_PAD="0"
# LINE_COLOR="#20ffffff"

# [Position]
POSITION="top"
# POSITION="bottom"

# [Extra spaces]
SPACE_WIDTH="32"
SPACE_2_WIDTH="32"
HEIGHT="44"

# [Modules]
MODULES="lr"
# MODULES="mid"

# TEXT_OFFSET=-8

XL_FONT="Inter Thin BETA-64"

# [Larger clock]
# XL_FONT="Inter Thin BETA-96"
# BACKDROP_HEIGHT="160"
# BACKDROP_POSITION="center"
